@charset "UTF-8";
/* CSS Document */

/* 桜を表示するコンテナのスタイル */
#background {
  position: relative;
  height: auto;
  width: 100%; /* コンテナの横幅 */
　overflow:hidden;
}

/* 桜の花びらのスタイル */
.petal {
  background-color: #ffc0cb; /* 花びらの色 */
  border-radius: 150% 0 150% 0;
  animation: animate-petal 5s linear;
  position: fixed;
}

.petal::after {
  content: "";
  position: absolute;
  top: -14%;
  left: -10%;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffc0cb;
  border-radius: 150% 0 150% 0;
  transform: rotate(15deg);
}

/* 花びらが降るアニメーション */
@keyframes animate-petal {
  0% {
    top: 0;
    opacity: 0;
    transform: rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 100vh;
    transform: rotate(1000deg);
  }
}


body {
 margin: 0;
 padding: 0;
}
 
.anime {
 max-height: 1080px;
 position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  z-index: -2;
}
 
.anime svg {
 display: block;
 position: absolute;
 text-align: center;
 transform: scale(1.3,1.3);
 z-index: 3;
 
}


.item01{
  animation: fadeIn 1.5s ease-in;
}

.item02{
  animation: fadeIn 2s ease-in;
}

.item03{
  animation: fadeIn 2.5s ease-in;
}

.item04{
  animation: fadeIn 3s ease-in;
}

.item05{
  animation: fadeIn 3.5s ease-in;
}

.item06{
  animation: fadeIn 4s ease-in;
}

.item07{
 animation: fadeIn 4.3s ease-in;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}