@charset "UTF-8";
/* CSS Document */

body {
 margin: 0;
 padding: 0;
}
 
.anime {
 max-height: 1080px;
 position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #FF8449;
  overflow: hidden;
  z-index: -2;
}
 
.anime svg {
 display: block;
 position: absolute;
 text-align: center;
 transform: scale(1.7,1.7);
 z-index: 3;
}
 
.st0{
  stroke:#262626;
  stroke-dasharray: 2000;
  stroke-dashoffset: 0;
  stroke-width: 0.25;
  -webkit-animation: hello 2.5s ease-in ;
  animation: hello 2.5s ease-in ;
}
  @-webkit-keyframes hello {
      0% {
        stroke-dashoffset: 2000;
        fill:transparent;
      }
      40% {
        stroke-dashoffset: 2000;
        fill:transparent;
      }
      50% {
        fill:transparent;
      }
      100% {
        stroke-dashoffset: 0;
        fill:#262626;
      }
    }
